/********************************/
.nav-div{
  padding: 4px;
  background-color: midnightblue;
}
.nav-header{
  color: white;
  float: left;
  padding-left: 16px;
  padding-right: 16px;
}
.nav-table{
  margin-left: auto;
}
.nav-row{

}
.nav-column{

}
.nav-link{
  color: white;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 32px;
  font-weight: bolder;
  text-decoration: none;
}
.nav-link:hover{
  background-color: cornflowerblue;
}
/********************************/